<!doctype html>
<html lang="zh-CN" class="dark">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ .Title }}</title>
  {{ if .DevMode }}
    <script type="module" src="{{ .DevClientSrc }}"></script>
    <script type="module" src="{{ .DevEntrySrc }}"></script>
  {{ else }}
    {{ if .CSSFiles }}
      {{ range .CSSFiles }}
        <link rel="stylesheet" href="/static/dist{{ . }}" />
      {{ end }}
    {{ end }}
    <script type="module" src="/static/dist{{ .JSFile }}"></script>
  {{ end }}
</head>
<body>
  <div id="root"></div>
</body>
</html>
